Source: django-nose
Section: python
Priority: optional
Maintainer: Pexip AS <packaging@pexip.com>
XSBC-Pexip-Original-Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
XSBC-Pexip-Original-Uploaders:
 Michael Fladischer <fladi@debian.org>,
 Brian May <bam@debian.org>,
Build-Depends:
 debhelper (>= 11),
 dh-python,
 gawk,
 python-all,
 python-django,
 python-nose,
 python-setuptools,
 python3-all,
 python3-django,
 python3-nose,
 python3-setuptools,
Standards-Version: 4.2.1
Homepage: https://pypi.python.org/pypi/django-nose/
Vcs-Git: https://salsa.debian.org/python-team/modules/django-nose.git
Vcs-Browser: https://salsa.debian.org/python-team/modules/django-nose
Testsuite: autopkgtest-pkg-python
XS-Pexip-Upstream: http://ftp.debian.org/debian/ buster

Package: python-django-nose
Architecture: all
Depends:
 python-django,
 ${misc:Depends},
 ${python:Depends},
Description: Django test runner that uses python-nose
 python-django-nose integrates python-nose into Django test runner by
 extending the Django management CLI with nose-related options.
 Those options are targeted at running nose tests directly from within the
 Django management system (e.g. django-admin).

Package: python3-django-nose
Architecture: all
Depends:
 python3-django,
 ${misc:Depends},
 ${python3:Depends},
Description: Django test runner that uses python-nose (Python3 version)
 python-django-nose integrates python-nose into Django test runner by
 extending the Django management CLI with nose-related options.
 Those options are targeted at running nose tests directly from within the
 Django management system (e.g. django-admin).
 .
 This package contains the Python 3 version of the library.
