#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=django-nose

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with=python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	dh_auto_test -- --system=custom --test-args="PYTHON={interpreter} ./runtests.sh"
